body {
  font-family: monospace;
}

h1 {
  font-size: 50px;
}

#container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.chat-input,
.user-input {
  width: 350px;
  height: 35px;
  padding-left: 10px;
  border: solid 1px #444;
}
.chat-submit,
.user-submit {
  width: max-content;
  height: 35px;
  border: solid 1px #444;
  cursor: pointer;
  padding: 5px;
  background-color: lightgreen;
  font-size: 15px;
  font-weight: bold;
}
.chat-window {
  height: 450px;
  width: 550px;
  text-align: justify;
  padding-left: 25px;
  padding-top: 10px;
  overflow: auto;
  margin-bottom: 20px;
}
#chatSection,
#loginSection {
  padding: 10px;
  width: 600px;

  font-size: large;
}

#chatSection {
  height: 530px;
  border: 1px grey solid;
  border-radius: 10px;
}

.chat-form,
.login-form {
  margin-top: 10px;
  background-color: darkgray;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.render-message {
  padding: 10px;
  border-radius: 10px;
  height: max-content;
  border: solid gray 0.5px;
  margin: 5px;
  word-wrap: break-word;
}

h3 {
  height: max-content;
  margin: 5px 0;
  font-size: 20px;
}
